$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;
$desktop-xl-breakpoint: 1200px;

@mixin mobile {
    @media (max-width: $mobile-breakpoint) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin tablet-up {
    @media (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-breakpoint) and (max-width: $desktop-xl-breakpoint) {
        @content;
    }
}

@mixin desktop-up {
    @media (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin desktop-xl {
    @media (min-width: $desktop-xl-breakpoint) {
        @content;
    }
}
