.root {
    border: var(--space-x3) solid var(--color-secondary);
    border-top: 10px solid var(--color-quinary);
    border-radius: 50%;
    width: var(--space-x22);
    height: var(--space-x22);
    animation: spin .8s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
