.root {
    padding-top: var(--space-x7);

    &__title {
        font-size: var(--space-x6);
        color: var(--color-quinary);
        font-weight: 700;
        text-align: center;
    }

    &__boardContainer {
        padding: var(--space-x2);
        display: flex;
        flex-wrap: wrap;
    }
}
